!*
.settings
.state
_build
c_cpp_properties.json
tasks.json
launch.json
.cortex-debug.registers.state.json
settings.json
examples/playground/*
!examples/playground/README.md
ubxlib_examples_xplr_iot.code-workspace
